<configuration debug="true">
	<property name="USER_HOME" value="./logs/" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %contextName [%t] %level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${USER_HOME}/dual.student.log</file>
		<encoder>
			<pattern>%d %-5level %logger{35} [%file:%line] - %msg %n</pattern>
		</encoder>
	</appender>


	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>