<span ng-include="'/resource/views/Common/nav.tpl.html'"></span>
<div class="p-md" ng-controller="RoomPriceListController">
	<ul class="nav nav-tabs" ui-nav>
        <li class="active">
          <a href>{{_self_module.module_name}}</a>
        </li>
        <li>
          <a href="#!/app/Setting/{{roomPriceSystemUrl.view}}/{{roomPriceSystemUrl.url}}">价格类型</a>
        </li>
        <button class="btn btn-addon btn-default pull-right" ng-click="addRoomPrice(0)"><i class="fa fa-plus"></i>价格放盘</button>
    </ul>
    <div class="p b-a no-b-t bg-white m-b table-responsive">
        <table class="table table-bordered table-striped bg-white">
          <thead>
            <tr>
              <th class="w">价格类型</th>
              <th class="w">客源市场</th>
              <th class="w">继承</th>
              <th class="w">房型</th>
              <th class="col-sm-7">价格</th>
              <th class="w-thumb-xs"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(i, system) in dataList">
              <td class="text-nowrap">{{system.price_system_name}}</td>
              <td><span ng-repeat="(j, market_id) in system.market_ids"><i class="fa fa-check-circle"> </i> {{marketChildrenHash[market_id].market_name}} </span></td>
              <td>{{dataList[system.price_system_father_id].price_system_name}}</td>
              <td class="no-padding panel " colspan="2">
                <table class="table no-margin" ng-repeat="(channel_id, layout) in system.layout_item">
                    <tbody>
                        <tr><th><i class="fa fa-building"></i> {{employeeChannel[channel_id].channel_name}}</th><th></th></tr>
                        <tr ng-repeat="(layout_id, id) in layout">
                            <td class="w-md">{{layoutHash[id].item_name}}</td>
                            <td>
                                <span ng-show="system.layout_item.price_system_type=='formula'">
                                    <label class="radio-inline no-margin no-padding">
                                        <select name="formula[{{channel_id}}-{{layout_id}}][formula]" class="form-control w-xxs">
                                            <option value="+">+</option><option value="-">-</option><option value="*">x</option>
                                        </select>
                                    </label>
                                    <label class="radio-inline no-padding" style="margin:0px !important;">
                                        <input type="number" string-to-number ng-model="param.formula_value[layout_id]" class="form-control w-xs" name="formula[{{channel_id}}-{{layout_id}}][formula_value]" value="" >
                                    </label>
                                    <label class="radio-inline no-padding" style="margin:0px !important;">
                                        <select name="formula[{{channel_id}}-{{layout_id}}][formula_second]" class="form-control w-xxs">
                                            <option value="+">+</option><option value="-">-</option><option value="*">x</option>
                                        </select>
                                    </label>
                                    <label class="radio-inline no-padding" style="margin:0px !important;">
                                        <input type="number" string-to-number ng-model="param.formula_second_value[layout_id]" class="form-control w-xs" name="formula[{{channel_id}}-{{layout_id}}][formula_second_value]" value="" >
                                    </label>
                                </span>
                                <span ng-show="system.layout_item.price_system_type=='direct'">
                                    <input class="form-control w-thumb-lg" name="layout_price[{{channel_id}}-{{layout_id}}]" id="price" type="text" value=""  >
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </td>
              <td>
                <i class="fa fa-dot-circle-o text-success" ng-if="system.valid==1"></i>
                <i class="fa fa-ban text-warning ng-scope" ng-if="system.valid==0"></i>
              </td>
            </tr>
          </tbody>
        </table>
     </div>
</div>
<script language="javascript" src="/resource/vendor/libs/moment.min.js"></script>
<script language="javascript" src="/resource/vendor/libs/daterangepicker.js"></script>
<script language="javascript" src="/resource/vendor/modules/angular-smart-table/smart-table.min.js"></script>
<script language="javascript">
app.controller('RoomPriceListController', function($rootScope, $scope, $httpService, $location, $translate, $aside, $alert, $filter) {
	//获取数据
	var _channel = $scope.$stateParams.channel;var _view = $scope.$stateParams.view,common = '';
	var param = 'channel='+_channel+'&view='+_view;
	$scope.loading.show();
	$httpService.post('/app.do?'+param, $scope, function(result){
		$scope.loading.hide();
		if(result.data.success == '0') {
			var message = $scope.getErrorByCode(result.data.code);
			$alert({title: 'Error', content: message, templateUrl: '/modal-warning.html', show: true});
		}
		var marketHash = result.data.item.marketHash, marketChildrenHash = {};
		for (var i in marketHash) {
			for (var j in marketHash[i].children) {
				marketChildrenHash[j] = marketHash[i].children[j];
			}
		}
		$scope.marketChildrenHash = marketChildrenHash;
		$scope.layoutHash = result.data.item.layoutHash;
		var priceSystemHash = result.data.item.priceSystemHash, priceSystemList = [];
		$scope.priceSystemHash = priceSystemHash;
		var i = 0, dataList = {};
		for(var price_system_id in priceSystemHash) {
			priceSystemList[i] = {};
			priceSystemList[i]['price_system_name'] = '<i class="fa fa-chevron-circle-right"></i> '+priceSystemHash[price_system_id]['price_system_name'];
			priceSystemList[i]['price_system_id'] = priceSystemHash[price_system_id]['price_system_id'];
			dataList[price_system_id] = priceSystemHash[price_system_id];
			dataList[price_system_id]['layout_item'] = angular.fromJson(priceSystemHash[price_system_id]['layout_item']);
			dataList[price_system_id]['market_ids'] = angular.fromJson(priceSystemHash[price_system_id]['market_ids']);
			i++;
		}
		$scope.dataList = dataList;
		$scope.priceSystemList = priceSystemList;
		common = result.data.common;
		$scope.setCommonSetting(common);
		$scope.roomPriceSystemUrl = result.data.item.roomPriceSystemUrl;
	});
	//
	$scope._beginDay = '';$scope._nextDay = '';	
	var asideRoomPrice = '';
	$scope.addRoomPrice = function(_this) {
		$scope.param = {}; $scope.param["_valid"] = "1";$scope.thisPriceSystem = {};
		if(_this != 0) {
			
		}
		$scope.action = '添加/编辑';
		asideRoomPrice = $aside({scope : $scope, title: $scope._self_module.module_name, placement:'top',animation:'am-fade-and-slide-top',backdrop:"static",container:'body', templateUrl: '/resource/views/Setting/RoomPriceAddEdit.tpl.html?'+__VERSION});
		asideRoomPrice.$promise.then(function() {
			asideRoomPrice.show();
			$(document).ready(function(){
				$scope._thisDay = $filter('date')($scope._baseDateTime(), 'yyyy-MM-dd')+ 'T00:00:00.000Z';//
				$scope._beginDay = $filter('date')($scope._baseDateTime(), 'yyyy-MM-dd')+ 'T00:00:00.000Z';//
				$scope._nextDay = $filter('date')($scope._baseDateTime() - 0 + 86400000 * 7, 'yyyy-MM-dd')+ 'T00:00:00.000Z';//
                $scope._minDay = $filter('date')($scope._baseDateTime() - 0 - 86400000 * 15, 'yyyy-MM-dd');//过去15天內價格
				$scope._maxDay = $filter('date')($scope._baseDateTime() - 0 + 86400000 * 90, 'yyyy-MM-dd');//天內價格
			});
		})
	};
	$scope.thisPriceSystem = {};$scope.price_system_id = 0;
	$scope.selectPriceSystem = function(price_system_id) {
		$scope.thisPriceSystem = {};var price_system_id = price_system_id - 0;
		if(price_system_id == 0) {return;}
		if(!angular.isDefined($scope.priceSystemHash[price_system_id])) {
			//$alert({title: 'Error', content: '没找到价格体系！', templateUrl: '/modal-warning.html', show: true});
			return;
		}
		if(typeof($scope.param) == 'undefined') $scope.param = {};
		var thisPriceSystem = $scope.priceSystemHash[price_system_id];
		thisPriceSystem['market_ids'] = angular.fromJson(thisPriceSystem['market_ids']);
		thisPriceSystem['layout_item'] = angular.fromJson(thisPriceSystem['layout_item']);
		$scope.thisPriceSystem = thisPriceSystem;
		$(document).ready(function(){
			if(thisPriceSystem['formula'] != '') {
				var formula = angular.fromJson(thisPriceSystem['formula']);
				for(var channel_layout in formula) {
					var layout = channel_layout.split('-');var layout_id = layout[1];
					var key = formula[channel_layout];
					$('#formula_'+layout_id).val(key['formula']);
					$('#formula_value_'+layout_id).val(key['formula_value']);
					$('#formula_second_'+layout_id).val(key['formula_second']);
					$('#formula_second_value_'+layout_id).val(key['formula_second_value']);
					//$scope.param['formula_value['+layout_id+']'] = key['formula_value'];
					//$scope.param['formula_second_value['+layout_id+']'] = key['formula_second_value'];
				}
			}
		})
	};
	$scope.saveData = function() {
		var param = this.param;
		if(param == null || param == '' || !angular.isDefined(param.market_father_id)) {
			//$alert({title: 'Notice', content: '类型必须选择！', templateUrl: '/modal-warning.html', show: true});
			//return;
		}
		$scope.loading.show();
		var formParam = $.serializeFormat('#thisForm');
		formParam['cancellation_policy'] = param['policy'];
		formParam['price_system_father_id'] = '0';
		if(angular.isDefined(param['price_system_father_id']) && param['price_system_father_id'] >0) formParam['price_system_father_id'] = param['price_system_father_id'];
		formParam['price_system_id'] = param['price_system_id'];
		formParam['price_system_type'] = $scope.thisPriceSystem['price_system_type'];
		$scope.param = formParam;
		$httpService.post('/app.do?channel='+common.saveAddEditUrl, $scope, function(result){
			$scope.loading.hide();
			if(result.data.success == '0') return; 
			//asideRoomPrice.hide();
            $alert({title: 'Notice', content: '保存成功！', templateUrl: '/modal-success.html', show: true});
		});
	}
	$scope.yearWeekDays = {};
	$scope.checkHistoryPrice = function(layout_id, channel_id) {
		var yearWeekDays = {};
        var decimal_price = 0;
        if(typeof($rootScope.channelSettingList[channel_id]) != 'undefined') 
            decimal_price = $rootScope.channelSettingList[channel_id].decimal_price - 0;
		$scope.param['price_system_type'] = $scope.thisPriceSystem.price_system_type;
		$scope.param['price_system_father_id'] = $scope.thisPriceSystem.price_system_father_id;
		$scope.param['layout_id'] = layout_id;$scope.param['channel_id'] = channel_id;
		$scope.param['begin_date'] = $('#begin_date').val().substr(0,10);
		$scope.param['end_date'] = $('#end_date').val().substr(0,10);
		$httpService.header('method', 'checkHistoryPrice');
		$scope.loading.show();
		$httpService.post('/app.do?channel='+common.saveAddEditUrl, $scope, function(result){
			$httpService.deleteHeader('method');
            $scope.loading.hide();
			if(result.data.success == '0') return; 
			var year = $('#begin_date').val().substr(0,4);var month = $('#begin_date').val().substr(5,2);
			var nextYear = $('#end_date').val().substr(0,4);var nextMonth = $('#end_date').val().substr(5,2);
			var _nextMonth = nextMonth;
			if(year > nextYear) _nextMonth = 12 + nextMonth;
			for(var i = year; i <= nextYear; i++) {
				for(var j = month; j<= _nextMonth; j++) {
					var _m = j > 12 ? j - 12 : j; _m = _m - 0; if(_m < 10) _m = '0'+_m;
					var weekDays = $scope.setCalendar(i, _m);
					yearWeekDays[i + '-' + _m] = weekDays;
				}
			}
			$scope.yearWeekDays = yearWeekDays;
			var layoutPrice = [];
			if(typeof(result.data.item.layoutPrice[layout_id]) != 'undefined') {
				layoutPrice = result.data.item.layoutPrice[layout_id];
				var _formula = '',_formula_value = '',_formula_second = '', _formula_second_value = '';
				if($scope.thisPriceSystem['formula'] != '') {
					var formula = angular.fromJson($scope.thisPriceSystem['formula']);
					for(var channel_layout in formula) {
						var layout = channel_layout.split('-');var _layout_id = layout[1];var key = formula[channel_layout];
						if(_layout_id == layout_id) {
							_formula = key['formula'];_formula_value = key['formula_value'];
							_formula_second = key['formula_second'];_formula_second_value = key['formula_second_value'];
							break;
						}
					}
					for(var date in layoutPrice) {
						for(var i = 1; i <=31; i++) {
							var day = i < 10 ? '0'+i : i;
							var price = layoutPrice[date]['day_'+day];
							if(_formula_value != '' && price != '' && price > 0) {
								price = $scope.arithmetic(price,_formula,_formula_value, decimal_price);
							}
							if(_formula_second_value != '' && price != '' && price > 0) {
								price = $scope.arithmetic(price,_formula_second,_formula_second_value, decimal_price);
							}
							layoutPrice[date]['day_'+day] = price;
						}
					}
				}
			}
			
			$scope.layoutPrice = layoutPrice;
		});
		
	};
	$httpService.deleteHeader('refresh');
});

</script>
