<div class="aside col-sm-4 b-r box-shadow no-padding" tabindex="-1" role="dialog" ng-controller="EditBookRoomController">
  <div class="aside-dialog">
    <div class="aside-content">
     <form name="BorrowingForm" class="form-validation" id="thisBorrowingForm" ng-submit="saveBorrowing()">
      <div class="aside-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" ng-bind-html="title">借物</h4>
      </div>
      <div class="aside-body">
          <div class="form-inline">
              <div class="form-group p-v-xs">
                 <aside class="app-aside bg-white lt w-sm">
                    <nav>
                      <ul class="nav">
                        <li>
                            <a class="btn btn-default customer_btn" style="padding:6px !important;" id="borrowing_ul" ng-mouseover="showBorrowingUL()">
                                <span class="pull-right text-muted">
                                  <i class="fa fa-caret-down"></i>
                                </span>
                                <i class="icon fas fa-money-check text-lt"></i>
                                <span>{{borrowing_name}}</span>
                             </a>
                             <ul class="nav nav-sub bg b">
                                <li ng-repeat="(i, father) in thisChannelBorrowing">
                                  <a class="">
                                    <span class="pull-right text-muted" ng-if="father.children!=''">
                                      <i class="fa fa-caret-down"></i>
                                    </span>
                                    <span class="font-normal">{{father.borrowing_tag}}</span>
                                  </a>
                                  <ul class="nav nav-sub bg b" ng-if="father.children!=''">
                                    <li ng-repeat="(j, borrowing) in father.children"><a ng-click="selectBorrowing(borrowing)">{{borrowing.borrowing_name}} <span class="pull-right"><span class="fas fa-yen-sign"></span> {{borrowing.borrowing_price}}</span></a></li>
                                  </ul>
                                </li>
                             </ul>
                        </li>
                      </ul>
                    </nav>
                </aside>
            </div>
            <div class="form-group p-v-xs">
                <div class="input-group w">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">余量 <span ng-bind="borrowing_stock_have"></span></button>
                    </span>
                    <input name="borrowing_num" size="6" type="number" string-to-number step="1" min="0" max="{{borrowing_stock_have}}" id="money" value="" class="form-control" ng-model="param.borrowing_num" required ng-change="changeBorrowing()">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">数量</button>
                    </span>
                </div>
            </div>
            <select class="form-control" name="item_id" ng-model="param.item_id">
                <option value="">选择房号</option>
                <option value="{{rDetail.item_id}}" detail_id="{{rDetail.detail_id}}" booking_detail_id="{{rDetail.booking_detail_id}}" ng-repeat="(detail_id, rDetail) in roomDetail" ng-selected="rDetail.item_id==param.item_id" ng-click="selectRoomItem($event)">{{rDetail.item_name==''?'未排房':rDetail.item_name}}</option>
            </select>
        </div>
          <div class="form-inline">
              <div class="form-group p-v-xs">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">押金</button>
                    </span>
                 </div>
              </div>
              <div class="form-group p-v-xs">
                 <aside class="app-aside bg-white lt w-sm">
                    <nav>
                      <ul class="nav">
                        <li>
                            <a class="btn btn-default customer_btn" style="padding:6px !important;" id="payment_ul" ng-mouseover="showPaymentUL()">
                                <span class="pull-right text-muted">
                                  <i class="fa fa-caret-down"></i>
                                </span>
                                <i class="icon fas fa-money-check text-lt"></i>
                                <span>{{payment_name}}</span>
                             </a>
                             <ul class="nav nav-sub bg b">
                                <li ng-repeat="(i, father) in paymentTypeList">
                                  <a class="">
                                    <span class="pull-right text-muted" ng-if="father.children!=''">
                                      <i class="fa fa-caret-down"></i>
                                    </span>
                                    <span class="font-normal">{{father.payment_name}}</span>
                                  </a>
                                  <ul class="nav nav-sub bg b" ng-if="father.children!=''">
                                    <li ng-repeat="(j, payment) in father.children"><a ng-click="selectPaymentType(payment, true)">{{payment.payment_name}}</a></li>
                                  </ul>
                                </li>
                             </ul>
                        </li>
                      </ul>
                    </nav>
                </aside>
            </div>
            <div class="form-group p-v-xs">
                <div class="input-group w-sm">
                    <input name="money" size="9" type="number" string-to-number step="0.01" min="0" id="money" value="" class="form-control" ng-model="param.money" required>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="fas fa-yen-sign"></span></button>
                    </span>
                </div>
            </div>
        </div>
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="submit" class="btn btn-primary" btn-loading-text="{{'common.hint.LOADING' | translate}}" trigger-loading="beginLoading" ng-bind-html="title">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

